.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-secondary);
  height: 5%;
  min-height: 50px;
  width: 100%;
}

.welcomeTextContainer{
  font-size: larger;
  font-weight: bolder;
  padding-left: 20px;
}

.rightSideContainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  padding-right: 20px;
  width: 60%;
}

.toggleContainer{
  display: flex;
  align-items: center;
  font-weight: bold;
}

.toggleText{
  padding-left: 5px;
  font-size:medium;
}

.logoutButtonContainer{
  padding-right: 20px;
}

.logoutButtonContainer button{
  height: 75%;
}