.loginPageContainer{
  height: 95%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-weight: bold;
}

.loginWrapperContainer{
  width: 50%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-secondary);
  padding-bottom: 3%;
  border-radius: 15px;
  background: var(--background);
  opacity: 0.80;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.8px);
  -webkit-backdrop-filter: blur(13.8px);
  border: 1px solid var(--background-secondary)
}

.loginWrapper{
  width: 50%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonContainer{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1vh;
}